<mat-card>
    <mat-card-content class="d-none" [class.note-deleted]="noteGotDeleted">Note got moved to bin!</mat-card-content>
</mat-card>
<app-create-note></app-create-note>
<h1>Your Notes</h1>
<div class="card-layout">
    <mat-card *ngFor="let newNote of coll$ | async" class="notes-style">
        <mat-card-header>
            <mat-card-title>{{ newNote.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <textarea matInput [disabled]="editMode" placeholder="Edit your Note">{{ newNote.note }}</textarea>
            <div class="img-style">
                <img (click)="editNote(newNote)" src="assets/img/edit.png">
                <img (click)="deleteNote(newNote)" src="assets/img/trash.png">
            </div>
        </mat-card-content>
    </mat-card>
</div>