h1 {
    padding-left: 50px;
    padding-top: 50px;
}

.notes-style {
    margin-left: 50px;
    margin-bottom: 50px;
    max-width: 300px;

    textarea {
        max-width: 250px;
        max-height: 300px;
    }
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
}

.img-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    img {
        height: 16px;
        width: auto;
        margin-left: 10px;
        cursor: pointer;
    }
}

.d-none {
    display: none;
}

.note-deleted {
    display: unset;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 20px;
    background-color: rgb(238, 183, 183);
    animation: popup 3s ease-in-out;
    z-index: 3;
}

@keyframes popup {
    0% {
        transform: translateY(-80px);
        opacity: 0;
    }

    10% {
        transform: translateY(200px);
        opacity: 1;
    }

    90% {
        transform: translateY(200px);
        opacity: 1;
    }

    100% {
        transform: translateY(-80px);
        opacity: 0;
    }
}